
:root {
    --color-bg-1: white;
    --color-bg-2: rgba(0, 0, 0, 0.03);
    --color-bg-3: #f1f2f6;
    --color-bg-4: rgba(255, 255, 255, 0.6);
    --color-bg-5: rgba(0, 0, 0, 0.02);  
    --color-icon-1: #2980b9;
    --color-icon-2: #444;
    --color-icon-3: rgba(0, 0, 0, 0.3);
    --color-border-1: rgba(0, 0, 0, 0.05);
    --color-text-span: rgba(0, 0, 0, 0.6);
    --color-text-header: #444;
    --color-text-header-2: #2980b9;
    --color-text-paragraph: #666;
  }

.panel{
   display: grid;
   grid-template-columns: 2fr 11fr; 
}

.panel-min{
    display: grid;
    grid-template-columns: 1fr 13fr;
  }

/*menu*/
.menu{
    width: 100%;
    min-height: 800px;
    background-color:white;
    font-size: 1.1em;
}
.right .menu .user-info{
    padding: 20px;
    border : 1px solid var(--color-border-1);
}

.right .menu .user-info .img-name{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.right .menu .user-info .img-name img{
    width: 80px;
    border-radius: 50%;
    border: 2px solid var(--color-border-1);
}

.right .menu .user-info .img-name .name{
    font-size: .9em;
    color: var(--color-icon-2);
    margin-left: 10px;
}

.right .menu .user-info .details{
    padding: 10px;
}

.right .menu .user-info .details .details-item {
display: flex;
justify-content: space-between;
margin-top: 10px;
}

.right .menu .user-info .details span{
    font-size: .8em;
    color: var(--color-text-span);
}

/*menu-btn*/
.right .menu .menu-btns {

}

.right .menu .menu-btns .item{
    display: flex;
    justify-content: flex-start;
    padding: 20px 30px 20px 20px;

}

.right .menu-btns .item:hover {
    background-color: var(--color-bg-5);
  }

.right .menu .menu-btns .item-active{
    background-color: var(--color-bg-2);

}

.menu-btns .item i {
    font-size: 1.4em;
    color: var(--color-icon-1);
  }

  .menu-btns .item span {
    margin-left: 25px;
    color: var(--color-text-header);
  }

  .menu-btns .item-active span {
    color: var(--color-text-header-2);
  }

/*navigation*/

.main-box .header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    direction: rtl;
  }

  .main-box .header nav .left {
    direction: ltr;
    display: flex;
    align-items: center;
  }

  .main-box .header nav .left i{
    font-size: 1.8em;
    cursor: pointer;
    color: var(--color-icon-1);
  }

  .main-box .header nav .left .search {

    border: 1px solid var(--color-border-1);
    border-radius: 5px;
    margin-left: 10px;
    padding: 8px;
    padding-left: 15px;
    background-color: var(--color-bg-2);

  }

  .main-box .header nav .left .search input{
    border: none;
    background: none;
    outline: none;
  }

  .main-box .header nav .left .search i {
    font-size: 1.2em;
    color: var(--color-icon-3);
  }

  .main-box .header nav .right{

  }

  .main-box .header nav .right i{
    padding-left: 15px;
    color: var(--color-icon-2);
  }

  .main-box .header nav .right i:hover{
    color: var(--color-icon-1);
  }

/* header message  */
.main-box .header .header-message{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.main-box .header .header-message h3{
  color: var(--color-text-header);
}

.main-box .header .header-message a{
  border: 1px solid var(--color-border-1);
  background-color: var(--color-bg-2);
  padding: 5px 15px;
  border-radius: 5px;
  color: var(--color-text-header);
}

 /* holder */
 .holder {
  background-color: var(--color-bg-3);
  padding: 30px;
}

/* mini-cards */
.mini-card-report {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-card-report .left{
  background-color: var(--color-bg-4);
  padding: 25px 15px;
  border-radius: 5px 0px 0px 5px;
}

.mini-card-report .left i {
  color: var(--color-icon-1);

}

.mini-card-report .right{
  background-color: var(--color-bg-1);
  padding: 16px 70px 16px 15px;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  flex-direction: column;
}

.mini-card-report .right span:first-child {
  color: var(--color-text-header-2);
}

 /* revenue box  */
 .revenue-box{
  margin-top: 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
 }
 .revenue-box .head .right {
  display: flex;
  align-items: center;
}


 .revenue-box .head{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-4);
  padding: 15px 20px;
  border-radius: 15px 15px 0px 0px;
  align-items: center;
 }

 .revenue-box .head .right i{
  padding-left: 10px;
}

.revenue-box .content{
  padding: 20px;
  background-color: var(--color-bg-1);
  display: flex;
  justify-content: center;
  align-items: center;
}